<!DOCTYPE html>
<html lang="en-US">
<link rel="stylesheet" href="./../css/style.css">
<head>
    <meta charset="utf-8">
    <!-- viewport used to make a non-mobile-optimized site look better on narrow screen devices -->
    <meta name="viewport" content="width=device=width">
    <title>Coqui Fashions Contact Form</title>
</head> 
<body>
<p>
 <h3 id="contactform">To get on our mailing list please complete the form and submit.</h3>
<form action="https://formspree.io/f/mleopaek" method="post">
    <label for="fname">First name:</label><br>
    <input type="text" id="fname" name="fname" required><br>
    <label for="lname">Last name:</label><br>
    <input type="text" id="lname" name="lname"><br>
    <label for="email">Email:</label><br>
    <input type="email" id="email" name="email" required><br>
    <label for="comments">Comments:</lable><br>
    <textarea rows="5" cols="22" name="comments" required></textarea><br>
    <input type="submit" value="Submit">
 </form>
 </p>
</body>
</html>