<!DOCTYPE html>
<html lang="en-US">
<link rel="stylesheet" href="./../css/style.css">
<head>
    <meta charset="utf-8">
    <!-- viewport used to make a non-mobile-optimized site look better on narrow screen devices -->
    <meta name="viewport" content="width=device=width">
    <title>Coqui Fashions Homepage</title>
</head> 
<body>
    <div class="promotional-banner-container">
        <span class="promo-description">We value our customers! <span class="promo-discount">25% TO 50% OFF OF ALMOST ALL MERCHANDISE.</span></span>
        <div class="promo-discount">EXTRA 3% OFF</div><span class="promo-description">of your entire purchase when you pay with cash.</span>
</div>
    <div class="header">
    <div class="brand_container">
        <a href=""><img src="../images/vector-coqui-icon-isolated-red-white-blue-one-start.jpg" class="brand_container__image" alt="coqui"></a>
        <h1 class="brand_container__title">Coqui Fashions</h1>
    </div>
    <div class="right-side-actions">
        <div class="actions">
            <ul>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Locations</a></li>
                <li><img class="shopping-bag-img" src="../images/shopping-bag.png" alt="shopping bag"></li>
                <!-- TODO: Put an image here -->
                <li><img class="user-img" src="../images/user-icon.png" alt="user"></li>
            </ul>
        </div>
        <div class="search-bar">
            <input type="text" placeholder="Search">
            <img class="magnifying-glass-img"src="../images/magnifying-glass.png" alt="magnifying-glass">
        </div>
    </div>
   </div>
<div>
    <ul class="navigation">
        <li><a href="Coqui Fashions Homepage.html">HOME</a></li>
        <li><a href="..\view\coqui-fashions-apparelpage.html">APPAREL</a></li>
        <li><a href="coqui-fashions-shoespage.html">SHOES</a></li>
        <li><a href="#">ACCESSORIES</a></li>
      </ul>

    <a href="/Week4Proj01/Coqui Fashions Homepage.html" target="_self" class="" ></a>
</div>

<div id="promo">
      
    <div class="promo-card1">
        <img src="../images/Fashion_outfit_2_promo_720x1281.jpg" alt="Fashion_outfit_promo" >
    </div>
    <div class="promo-card2" >
         <img src="../images/Italian Wool-Blend Turtleneck Sweater 1503x1835.png" alt="Italian Wool Turtleneck" > 
    </div>
    <div class="promo-card3"> 
        <img src="../images/Fashion_outfit_6_720x735.jpg" alt="Fashion Outfit">
    </div>
    <div class="promo-card4"> 
        <img src="../images/Mens_tee_1_913x1139.jpg" alt="Men's tee">
    </div>
    <div class="promo-card5">
        <img src="../images/Slim Solid Italian Wool Suit Pant_black.png" alt="Slim Solid Italian Wool pants">
    </div>
    <div class="promo-card6">
        <img src="../images/Fashion_outfit_3.jpg" alt="Polo Shirt">
    </div>
    <div class="promo-description2">UP TO 50% OFF OF EVERYTHING FOR THE ENTIRE MONTH</div>

  </div>


    <!--div id="promo">
        <div class="promo-card1">
        <img src="../images/Fashion_outfit_2_promo_720x1281.jpg" alt="Fashion_outfit_promo">
        </div>
    <div class="promo-card2"> <img src="../images/Fashion_outfit_6_720x735.jpg" alt="Fashion Outfit">
            < <img src="../images/Fashion_outfit_6.jpg" alt="Turtleneck"> >
        </div>
        <div class="promo-card3">
            <img src="../images/Man_wearing_pink_polo_1.jpg" alt="Polo Shirt">
        </div>
        <div class="promo-card4">
            <img src="../images/Fashion_outfit_3.jpg" alt="Polo Shirt">
        </div>
     </div-->
     
<!--
    <div class="product-card">
        <img src="../images/Slim Solid Italian Wool Suit Pant_black.png" alt="Slim Solid Italian Wool pants">
        <div class="product-card-description">
            <p class="description">Slim Solid Italian Wool Suit Pant</p>
            <span class="price">$130.00<span class="discount"> 25%</span></span>
            <p class="final-price">$97.50</p>
        </div>
    </div>
        <div class="product-card">
        <img src="../images/Sneaker_2_1503x1835.jpg" alt="">
        <div class="product-card-description">
            <p class="description">Sneaker</p>
            <span class="price">$250.00<span class="discount"> 40%</span></span>
            <p class="final-price">Now $150.00</p>
        </div>
    </div>
    <div class="product-card">
        <img src="../images/Mens_tee_1_913x1139.jpg" alt="Men's tee">
        <div class="product-card-description">
            <p class="description">Graphic Tee</p>
            <span class="price">$125.00<span class="discount"> 25%</span></span>
            <p class="final-price">Now $93.75</p>
        </div>
    </div>
    <div class="product-card">
        <img src="../images/Italian Wool-Blend Turtleneck Sweater 1503x1835.png" alt="Italian Wool-Blend Turtleneck Sweater">
        <div class="product-card-description">
            <p class="description">Italian Wool-Blend Turtleneck Sweater</p>
            <span class="price">$125.00<span class="discount"> 40%</span></span>
            <p class="final-price">Now $75.00</p>
        </div>
    </div>
</div>
</-->


</body>
</html>