<!DOCTYPE html>
<html lang="en-US">
<link rel="stylesheet" href="./../css/style.css">
<head>
    <meta charset="utf-8">
    <!-- viewport used to make a non-mobile-optimized site look better on narrow screen devices -->
    <meta name="viewport" content="width=device=width">
    <title>Coqui Fashions FootWear Page</title>
</head> 
<body>
 <div class="promotional-banner-container">
        <span class="promo-description">We value our customers! <span class="promo-discount">25% TO 50% OFF OF ALMOST ALL MERCHANDISE.</span></span>
        <div class="promo-discount">EXTRA 3% OFF</div><span class="promo-description">of your entire purchase when you pay with cash.</span>
</div>
<div class="header">
    <div class="brand_container">
        <a href="../view/coqui-fashions-homepage.html"><img src="../images/vector-coqui-icon-isolated-red-white-blue-one-start.jpg" class="brand_container__image" alt="coqui"></a>
        <h1 class="brand_container__title">Coqui Fashions</h1>
    </div>
    <div class="right-side-actions">
        <div class="actions">
            <ul>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Locations</a></li>
                <li><img class="shopping-bag-img" src="../images/shopping-bag.png" alt="shopping bag"></li>
                <!-- TODO: Put an image here -->
                <li><img class="user-img" src="../images/user-icon.png" alt="user"></li>
            </ul>
        </div>
        <div class="search-bar">
            <input type="text" placeholder="Search">
            <img class="magnifying-glass-img"src="../images/magnifying-glass.png" alt="magnifying-glass">
        </div>
    </div>
   </div>
<div>
<div>
    <ul class="navigation">
        <li><a href="../view/coqui-fashions-homepage.html">Home</a></li>
        <li><a href="../view/coqui-fashions-apparelpage.html">Apparel</a></li>
        <li><a href="#">Accessories</a></li>
      </ul>
    <!-- <a href="/Week4Proj01/Coqui Fashions Homepage.html" target="_self" class="" ></a> -->
</div>

<div class="category-banner-container">
    <span class="category-description">SHOP ALL FOOTWEAR</span>
</div>

<div id="product-card-grid-container">
    <div class="product-card1">
        <img src="../images/Fashion_shoe_2_476X650.jpg" alt="Men's Shoe">
        <div class="product-card-description">
            <p class="description">Monk Strap Slip-on Shoe</p>
            <span class="price">$250.00<span class="discount"> 25% off</span></span>
            <p class="final-price">Now $187.50</p>
        </div>
    </div>
    <div class="product-card2">
        <img src="../images/Suede Oxford color Nave 1503x1835_with_Canvas.png" alt="Suede Oxford Shoes">
        <div class="product-card-description"><br><br><br>
            <p class="description">G. SantaRosa Blue Suede Oxfords</p>
            <span class="price">$300.00<span class="discount"> 30%</span></span>
            <p class="final-price">Now $210.00</p>
        </div>
    </div>
    <div class="product-card3">
        <img src="../images/Sneaker_2_1503x1835.jpg" alt="Sneaker">
        <div class="product-card-description"><br><br><br>
            <p class="description">Grey Canvas Sneaker</p>
            <span class="price">$175.00<span class="discount"> 25%</span></span>
            <p class="final-price">Now $131.25</p>
        </div>
    </div>
    <div class="product-card4">
        <img src="../images/ace-mens-lace-up-cap-toe-leather-boot_1507x1878.jpg" alt="Lace up Cap Toe Leather Boots">
        <div class="product-card-description"><br><br>
            <p class="description">Lace Up Cap Toe Leather Boots</p>
            <span class="price">$500.00<span class="discount"> 30%</span></span>
            <p class="final-price">Now $350.00</p>
        </div>
    </div>
    <div class="product-card5">
        <img src="../images/Chelsea Boot.jpg" alt="Chelsea Boot">
        <div class="product-card-description">
            <p class="description">Chelsea Boot</p>
            <span class="price">$300.00<span class="discount"> 25%</span></span>
            <p class="final-price">Now $225.00</p>
        </div>
    </div>
    <div class="product-card6">
        <img src="../images/Italian Leather Loafer.jpg " alt="Italian Leather Loafter">
        <div class="product-card-description">
            <p class="description">Italian Leather Loafer</p>
            <span class="price">$300.00<span class="discount"> 30%</span></span>
            <p class="final-price">Now $210.00</p>
        </div>
    </div>
     <div class="product-card7">
        <img src="../images/Italian Leather Brogue Oxford.jpg" alt="Italian Leather Brogue Oxford">
        <div class="product-card-description">
            <p class="description">Italian Leather Brogue Oxford</p>
            <span class="price">$350.00<span class="discount"> 25%</span></span>
            <p class="final-price">Now $262.50</p>
        </div>
    </div>    
    <div class="product-card8">
        <img src="../images/Suede-High_top Sneaker.jpg" alt="Suede-High_top Sneaker">
        <div class="product-card-description">
            <p class="description">Suede-High_top Sneaker</p>
            <span class="price">$165.00<span class="discount"> 40%</span></span>
            <p class="final-price">Now $99.00</p>
        </div>
    </div>
</div>    
    <div>
        <ul class="navigation">
            <li><a href="#">About Us</a></li>
            <li><a href="#">Locations</a></li>
            <li><a href="#">Get on the List</a></li>
          </ul>
    </div>
</body>
</html>