<!DOCTYPE html>
<html lang="en-US">
<link rel="stylesheet" href="./../css/style.css">
<head>
    <meta charset="utf-8">
    <!-- viewport used to make a non-mobile-optimized site look better on narrow screen devices -->
    <meta name="viewport" content="width=device=width">
    <title>Coqui Fashions Apparel Page</title>
</head> 
<body>
 <div class="promotional-banner-container">
        <span class="promo-description">We value our customers! <span class="promo-discount">25% TO 50% OFF OF ALMOST ALL MERCHANDISE.</span></span>
        <div class="promo-discount">EXTRA 3% OFF</div><span class="promo-description">of your entire purchase when you pay with cash.</span>
</div>
<div class="header">
    <div class="brand_container">
        <a href="../view/coqui-fashions-homepage.html"><img src="../images/vector-coqui-icon-isolated-red-white-blue-one-start.jpg" class="brand_container__image" alt="coqui"></a>
        <h1 class="brand_container__title">Coqui Fashions</h1>
    </div>
    <div class="right-side-actions">
        <div class="actions">
            <ul>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Locations</a></li>
                <li><img class="shopping-bag-img" src="../images/shopping-bag.png" alt="shopping bag"></li>
                <!-- TODO: Put an image here -->
                <li><img class="user-img" src="../images/user-icon.png" alt="user"></li>
            </ul>
        </div>
        <div class="search-bar">
            <input type="text" placeholder="Search">
            <img class="magnifying-glass-img"src="../images/magnifying-glass.png" alt="magnifying-glass">
        </div>
    </div>
   </div>
<div>
<div>
    <ul class="navigation">
        <li><a href="../view/coqui-fashions-homepage.html">Home</a></li>
        <li><a href="../view/coqui-fashions-shoespage.html">Shoes</a></li>
        <li><a href="#">Accessories</a></li>
      </ul>
    <a href="/Week4Proj01/Coqui Fashions Homepage.html" target="_self" class="" ></a>
</div>

<div class="category-banner-container">
    <span class="category-description">SHOP ALL APPAREL</span>
</div>

<div id="product-card-grid-container">
    <div class="product-card1">
        <img src="../images/Fashion_outfit_6.jpg" alt="Men's outfit">
        <div class="product-card-description">
            <p class="description">Short Sleeve Button-down Shirt</p>
            <span class="price">$90.50<span class="discount"> 40% off</span></span>
            <p class="final-price">Now $54.30</p>
        </div>
    </div>
    <div class="product-card2">
        <img src="../images/Slim Solid Italian Wool Suit Pant_black.png" alt="Slim Solid Italian Wool pants">
        <div class="product-card-description">
            <p class="description">Slim Solid Italian Wool Suit Pant</p>
            <span class="price">$130.00<span class="discount"> 25%</span></span>
            <p class="final-price">$97.50</p>
        </div>
    </div>
    <div class="product-card3">
        <img src="../images/Mens_tee_1_913x1139.jpg" alt="Men's tee">
        <div class="product-card-description">
            <p class="description">Graphic Tee</p>
            <span class="price">$125.00<span class="discount"> 25%</span></span>
            <p class="final-price">Now $93.75</p>
        </div>
    </div>
    <div class="product-card4">
        <img src="../images/Italian Wool-Blend Turtleneck Sweater 1503x1835.png" alt="Italian Wool-Blend Turtleneck Sweater">
        <div class="product-card-description">
            <p class="description">Italian Wool-Blend Turtleneck Sweater</p>
            <span class="price">$125.00<span class="discount"> 40%</span></span>
            <p class="final-price">Now $75.00</p>
        </div>
    </div>
    <div class="product-card5">
        <img src="../images/man_wearing_shirt_1_modified.jpg" alt="Multi-colored Stucco Shirt">
        <div class="product-card-description"><br>
            <p class="description">Multi-colored Stucco Shirt</p>
            <span class="price">$200.00<span class="discount"> 40%</span></span>
            <p class="final-price">Now $120.00</p>
        </div>
    </div>
    <div class="product-card6">
        <img src="../images/Slim Solid Italian Wool Suit2.jpg" alt="Slim Italian Wool Suit">
        <div class="product-card-description">
            <p class="description">Slim Italian Wool Suit</p>
            <span class="price">$400.00<span class="discount"> 30%</span></span>
            <p class="final-price">Now $280.00</p>
        </div>
    </div>
     <div class="product-card7">
        <img src="../images/Man_wearing_pink_polo_1_adjusted_blank_background_1816x2217.jpg" alt="White and Pink Polo Shirt">
        <div class="product-card-description">
            <p class="description">White and Pink Polo Shirt</p>
            <span class="price">$150.00<span class="discount"> 25%</span></span>
            <p class="final-price">Now $112.50</p>
        </div>
    </div>    
    <div class="product-card8">
        <img src="../images/Man_wearing_polo_1_1507x1878.png" alt="Polo Shirt Pink">
        <div class="product-card-description">
            <p class="description">Classic Polo Shirt Pink</p>
            <span class="price">$125.00<span class="discount"> 40%</span></span>
            <p class="final-price">Now $75.00</p>
        </div>
    </div>
</div>
<div>
    <ul class="navigation">
        <li><a href="#">About Us</a></li>
        <li><a href="#">Locations</a></li>
        <li><a href="../view/ContactForm.html">Get on the List</a></li>
      </ul>
</div> 
</body>
</html>