table .loan_table, td, th{
    border: solid 1px  #add8e6;
    margin:0px;
    padding:0px;
    border-spacing: 0px;
    border-collapse: collapse;
    line-height: 22px;
    font-size: 13px;
    font-family: Arial, Verdana, Tahoma, Helvetica, sans-serif;
    font-weight: 400;
    text-decoration: none;
    color:black;
}

table .header_table {
    font-size: 13px;
    font-family: Arial, Verdana, Tahoma, Helvetica, sans-serif;
    background-color:#98dcff;
    font-weight: 900;
}

table th {
    /* table-layout: 125px; */
    /* width: 50%;  */
    /* border-collapse: collapse; */
    font-weight: 700;
}

th {
    text-align: center;
    min-width: 150px;
    word-wrap: break-word;
}
td {
    max-width: 500px;
    min-width: 200px;
    overflow: auto;
}

.create_button {
    font-size: 13px;
    font-family: Arial, Verdana, Tahoma, Helvetica, sans-serif;
    background-color:#98dcff;
    border: solid 2px  #adbae6;
    margin:3px;
    /* margin-left: 30px; */
    margin-right: 400px;
    padding:6px;
    border-spacing: 0px #98dcff;
    font-weight: 700;
}
.loan_table{
    display: flexbox;
    width: 100%;
}

/* .submit_button {
    font-size: 13px;
    font-family: Arial, Verdana, Tahoma, Helvetica, sans-serif;
    background-color:#98dcff;
    border: solid 2px  #adbae6;
    margin:3px;
    margin-right: 115px;
    padding:6px;
    border-spacing: 0px #98dcff;
    font-weight: 700;
} */

/* .cancel_button {
    font-size: 13px;
    font-family: Arial, Verdana, Tahoma, Helvetica, sans-serif;
    background-color:#98dcff;
    border: solid 2px  #adbae6;
    margin:3px;
    padding:6px;
    border-spacing: 0px #98dcff;
    font-weight: 700;
} */

.crumbs {
    font-size: 13px;
    font-family: Arial, Verdana, Tahoma, Helvetica, sans-serif;
    line-height:22px;
    background-color:#98dcff;
    border: solid 1px  #adbae6;
    margin:10px;
    padding:6px;
    border-spacing: 0px #98dcff;
    font-weight: 700;
    text-align: center;
    display: flex;
    justify-content: right;
}

.crumbs a {
    margin: 4px;
    font-family: Arial, Verdana, Tahoma, Helvetica, sans-serif;
}

#MainCreateRequestButton {
    border: 2px solid silver;
    border-radius: 4px;
    margin: 4px 0;
    width: 100%;
    line-height: 22px;
    background-color: #f8f8f8;
    cursor: pointer;
    font-family: Arial, Verdana, Tahoma, Helvetica, sans-serif;
}

#devices {
    display: block;
    font-size: 14px;
    font-family: Arial, Verdana, Tahoma, Helvetica, sans-serif;
    font-weight: 200;
    /* color: #444; */
    line-height: 1.3;
    padding: .6em 1.4em .5em .8em;
    width: 100%;
    max-width: 100%; /* useful when width is set to anything other than 100% */
    box-sizing: border-box;
    margin: 0;
    border: 2px solid silver;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    border-radius: .5em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #f8f8f8;
}

.main {
    max-width: 100%;
    padding: 10px;
    /* margin: auto; */
    font-family: Arial, Verdana, Tahoma, Helvetica, sans-serif;
}
 input{
     border: 2px solid silver;
     border-radius: 4px;
     margin: 4px 0;
     width: 100%;
     line-height: 22px;
     background-color: #f8f8f8;
     cursor: pointer;
     font-family: Arial, Verdana, Tahoma, Helvetica, sans-serif;
 }
textarea{
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid silver;
    background-color: #f8f8f8;
    border-radius: 4px;
    resize: none;
    cursor: pointer;
    font-family: Arial, Verdana, Tahoma, Helvetica, sans-serif;
}
input[type=reset], input[type=submit] {
    background-color:  #98dcff;
    border: none;
    color:black;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    width: 15%; 
    font-family: Arial, Verdana, Tahoma, Helvetica, sans-serif; 
    font-weight: 800; 
}

